.about {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: $M;
}

.about .aboutContain {
  display: flex;
  align-items: center;
  width: 90%;
  height: 350px;
  margin-bottom: 75px;
}

.about .aboutText {
  width: 65%;
  margin-left: 5%;
}

.about .aboutText i {
  color: $Red;
  font-size: 27px;
  transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.about .aboutText i:hover {
  color: white;
  transform: scale(1.1);
}

.about .aboutText .accountLinks {
  display: flex;
  justify-content: space-between;
  width: 110px;
}

.about .aboutImg {
  height: 100%;
  width: 400px;
  background-position: center;
  background-size: cover;
  border: 5px solid $Red;
  background-image: url(../assets/images/jeremy.jpg);
  transition: transform 0.2s ease-in-out;
}

.about .aboutImg:hover {
  transform: scale(1.05);
}
