// Page reset

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: $BG;
  color: white;
  display: flex;
  justify-content: center;
  font-family: $M;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

html {
  scroll-behavior: smooth;
}

.content {
  width: 75%;
}

section {
  min-height: 50%;
  width: 100%;
  margin-bottom: 25px;
}

#backToTopBtn {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  bottom: 50px;
  right: 50px;
  padding: 24px 25px;
  font-size: 16px;
  color: #fff;
  background-color: $Red;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  z-index: 1000;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out,
    color 0.2s ease-in-out;
}

#backToTopBtn.show {
  visibility: visible;
  opacity: 1;
}

#backToTopBtn:hover {
  background-color: #fff;
  color: $Red;
}

.red {
  color: $Red;
}

// Fonts

@font-face {
  font-family: "Montserrat";
  src: url(../css/fonts/Montserrat-Medium.ttf);
}

@font-face {
  font-family: "Montserrat Bold";
  src: url(../css/fonts/Montserrat-Bold.ttf);
}

@font-face {
  font-family: "Montserrat Thin";
  src: url(../css/fonts/Montserrat-Thin.ttf);
}
